Repository IrisSS13/IrisStation, pull requests merged in 2024-08, with the labels that each got.

#38 Character preferences now split into two
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: test merge

#33 Metastation perma update and fixing badly named doors
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/nova/automapper/templates/metastation/metastation_arrivals.dmm
Labels: test merge

#44 Fixes a lot of tests
  _maps/RandomRuins/IceRuins/nova/icemoon_underground_interdyne_base1.dmm
  _maps/RandomRuins/LavaRuins/nova/lavaland_surface_interdyne_base1.dmm
  _maps/RandomRuins/SpaceRuins/nova/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/nova/des_two.dmm
  _maps/RandomRuins/SpaceRuins/nova/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/nova/spacehotel.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/Ouroboros/Ouroboros.dmm
  _maps/map_files/SerenityStation/SerenityStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/shuttles/nova/whiteship_blueshift.dmm
  code/__DEFINES/~nova_defines/antagonists.dm
  modular_nova/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_nova/modules/cortical_borer/code/evolution/evolution_things/empowered_egg.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_action.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_quirk.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NovaCharacterDirectory.jsx
Labels: Map Modification

#31 ghostrole borer part 1
  code/__DEFINES/role_preferences.dm
  code/modules/events/ghost_role/cortical_borer.dm
  code/modules/jobs/job_types/spawner/cortical_borer.dm
  config/dynamic.json
  modular_nova/modules/cortical_borer/code/cortical_borer.dm
  modular_nova/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_nova/modules/oneclickantag/code/oneclickantag.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/borer.ts
Labels: test merge

#43 Small metastation arrivals change
  _maps/nova/automapper/templates/metastation/metastation_arrivals.dmm
Labels: mapping

#48 Fixes freezers triggering roundstart alarms
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_corticalborer.png
Labels: Map Modification

#46 removes disabled shapeshifter quirk module
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_action.dm
  modular_nova/modules/shapeshifter_quirk/code/shapeshifter_quirk.dm
  modular_nova/modules/shapeshifter_quirk/icons/actions_shapeshift.dmi
  tgstation.dme
Labels: sprites

#56 Cleans up erp stuff from snowglobe
  _maps/map_files/Snowglobe/snowglobe.dmm
Labels: Map Modification

#55 Arcmining in biodome
  _maps/map_files/biodome/biodome.dmm
Labels: Map Modification
